.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vmin;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-image: url('./img/BG-01.svg'); /* Update the path to your SVG */
  background-size: cover; /* Adjust to your needs */
  background-position: left;
  background-repeat: repeat;/* Adjust to your needs */
  width: 100vw;
  height: 300vmin;

  /* Other background properties */
}
